.ndfHFb-c4YZDc-Wrql6b {
.ndfHFb-c4YZDc-Wrql6b {
    display: none !important;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #141414; /* Color de fondo similar al de Netflix */
    color: #FFFFFF; /* Texto en blanco para que contraste bien */
}

}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 20px; /* Agrega espacio entre los contenedores de video */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.control-button {
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.movie {
    background: #333; /* Un tono gris oscuro para resaltar sobre el fondo */
    color: #FFFFFF; /* Texto blanco */
    padding: 20px;
    border: 1px solid #444;
    width: 200px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 8px; /* Bordes redondeados para un mejor estilo */
}
.movie:hover {
    transform: scale(1.1);
    background: #444; /* Cambio de color al pasar el ratón */
}

}
.img-small {
    width: 50px;
    height: auto;
    object-fit: cover;
}

.img-medium {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.img-large {
    width: 150px;
    height: auto;
    object-fit: cover;
}
